.caja_bordes {
    border: 2px #000 solid;
    /*//margin: 1px;*/
}
.caja_cabecera {
    background-color: #000 !important;
    color: #fff !important;
}
.texto_centrado {
    text-align: center;
}
.texto_cabecera_recaudacion {
    /*font-size: 14px;
    //color: #000;*/
    font-weight: bold;
}

.caja_cabecera_destacado {
    background-color: #E5E5E5 !important;
    color: #000 !important;
    /*font-size: 14px !important;*/
}
.texto_negro {
    color: #000 !important;
}
.titulo_negrita {
    color: #000 !important;
    font-weight: bold;
   /* font-size: 14px;*/
}

.titulo_aviso {
    color: #000 !important;
    font-weight: normal;
   /* font-size: 12px;*/
}

.borde-top {
    border-top: 2px #000 solid; 
}

.borde_top_bottom{
	border-top: 2px #000 solid; 
	border-bottom: 2px #000 solid; 
}
.borde-right{
	border-right: 2px #000 solid; 	
}
.borde-bottom{
	border-bottom: 2px #000 solid;	
}
.div_premios {
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
}
.div_multiplica{
    display: block;
    float: left;
    width: 100px;
    text-align: right;
}
.div_euros{
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}
.margen{
	margin:0 4px 0 4px;
}
.font-mobile{
	font-size: 0.7em;
}
.td-importes-totales{
    width: 48%;
    text-align: right;
    font-weight: bold
}
.negrita{
    font-weight: bold   
}